<div [style.width]="width+'px'">
    <datatable-body #dtBody 
        [rows]="pagination ? (data | paginate: paginationOptions) : data"
        [size]="size"
        [columns]="columns" 
        [striped]="striped" 
        [bordered]="bordered" 
        [rowClassName]="rowClassName"
        [cellClassName]="cellClassName" 
        (checkedAll)="onCheckAll($event)">
    </datatable-body>
    <ng-container *ngIf="data&&!data.length">
        <div class="no-data" *ngIf="!noDataText;else noData">
            <img src="assets/no-data.svg" alt="暂无数据" width="100">
            <div class="no-data">暂无数据</div>
        </div>
        <ng-template #noData [ngTemplateOutlet]="noDataText"></ng-template>
    </ng-container>
</div>

<!-- <div class="farris-datatable">
    <div #tableHeader class="farris-table-header">
        <datatable-header #dtHeader [size]="size" [columns]="columns" [singleSelect]="singleSelect" [data]="data"
            (checkedAll)="onCheckAll($event)">
            <ng-content select="data-columns"></ng-content>
        </datatable-header>
    </div>
    <div #scorllableBody class="farris-table-scorllable-body" [style.height]="scorllableBodyHeight + 'px'">
        <perfect-scrollbar #perfectScrollbar [config]="{}" (psScrollX)="onScrollX($event)"
            (psScrollY)="onScrollY($event)">
            <ng-container [style.display]="data && data.length ? 'block': 'none'">
                <datatable-body #dtBody [rows]="pagination ? (data | paginate: paginationOptions) : data" [size]="size"
                    [columns]="columns" [striped]="striped" [bordered]="bordered" [rowClassName]="rowClassName"
                    [cellClassName]="cellClassName" (on-edit-grid)="onCellClick($event)"
                    (on-select-row)="onSelectRow($event)">
                </datatable-body>
            </ng-container>
            <ng-container *ngIf="!(data && data.length)">
                <h1 style="text-align:center;color:#ccc; margin-top: 50px;"></h1>
            </ng-container>
        </perfect-scrollbar>
    </div>
</div> -->
<!-- 表尾 -->
<!-- <div class="farris-table-header" *ngIf="footer">
        <ng-template [ngTemplateOutlet]="footer">
        </ng-template>
    </div> -->
<!-- 固定表头 -->
<!-- <div class="farris-table-fixed-header" [style.width]="fixedLeftWidth" *ngIf="hasFixed">
    <datatable-header #dtLeftFixedHeader [size]="size" [columns]="columns" [data]="data" [singleSelect]="singleSelect"
    [fixed]="'left'" (checkedAll)="onCheckAll($event)">
        <ng-content select="data-columns"></ng-content>
    </datatable-header>
</div>
<div class="farris-table-fixed-right-header" [style.width]="fixedRightWidth" *ngIf="hasFixed">
    <datatable-header #dtRightFixedHeader [size]="size" [columns]="columns" [singleSelect]="singleSelect"
    [fixed]="'right'" [data]="data"
        (checkedAll)="onCheckAll($event)">
        <ng-content select="data-columns"></ng-content>
    </datatable-header>
</div> -->
<!-- 固定列 -->
<!-- <div #dtLeftFixed class="farris-table-fixed-body" *ngIf="hasFixed" [style.width]="fixedLeftWidth">
    <datatable-body #dtLeftBody [rows]="data | paginate: paginationOptions" [size]="size" [columns]="columns"
        [fixed]="'left'" [striped]="striped" [bordered]="bordered" [rowClassName]="rowClassName"
        [cellClassName]="cellClassName" (cellEdit)="onCellClick($event)"
        >
    </datatable-body>
</div>
<div #dtRightFixed class="farris-table-fixed-right-body" *ngIf="hasFixed" [style.width]="fixedRightWidth">
    <datatable-body #dtRightBody [rows]="data | paginate: paginationOptions" [size]="size" [columns]="columns"
        [fixed]="'right'" [striped]="striped" [bordered]="bordered" [rowClassName]="rowClassName"
        [cellClassName]="cellClassName" (cellEdit)="onCellClick($event)"
        >
    </datatable-body>
</div> -->
<!-- 分页 -->
<!-- <div *ngIf="pagination" #tablePager class="farris-table-pager">
    <pagination-controls [id]="paginationOptions.id" [maxSize]="maxSize" [directionLinks]="directionLinks"
        [autoHide]="autoHide" [responsive]="responsive" [previousLabel]="labels.previousLabel"
        [nextLabel]="labels.nextLabel" [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
        [screenReaderPageLabel]="labels.screenReaderPageLabel"
        [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel" (pageChange)="onPageChange($event)"
        (pageSizeChange)="onPageSizeChange($event)">
    </pagination-controls>
</div> -->
<!-- 拖拽列 -->
<!-- <div #dragLine *ngIf="dragable" class="column-resizer-helper"></div> -->