<!-- NG-ZORRO -->
<!-- <a href="https://github.com/NG-ZORRO/ng-zorro-antd" target="_blank" style="display: flex;align-items: center;justify-content: center;height: 100%;width: 100%;">
  <img height="300" src="https://img.alicdn.com/tfs/TB1X.qJJgHqK1RjSZFgXXa7JXXa-89-131.svg">
</a> -->
<div nz-row>
  <div nz-col nzSpan="24">
    <h3>数据操作</h3>
  </div>
  <div nz-col nzSpan="6">
    <h3>左侧区域</h3>
  </div>
  <div nz-col nzSpan="12">
    <data-operation [value]="'huyuyang'"></data-operation>
  </div>
  <div nz-col nzSpan="6">
    <h3>右侧区域</h3>
  </div>
</div>